@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//@import "font-awesome-compass";
//@import "font-awesome";


/**
	CSS PERSONALIZADO
**/
.header {
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	min-height: 260px;
	width: 100%;
	background-size: cover;
}
.top-header-section {
    background: #444444;

    .header-text {
		line-height: 40px;
    	padding: 0 18px;
    	font-family: Roboto, sans-serif;
		font-size: 14px;
		color: #fff;
	}
	.fecha {
		border-right: #535353 1px solid;
	}
}
.wrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1230px;
}

.botonera a {
	max-width: 80%;
	display: inline-block;
}
.atencion {
  animation: click_aqui 3s ease-in infinite;
  transform-origin: 50% 50%;
}

nav.menu {
	margin-top: -10px;
    margin-bottom: 34px;
}

.titulo {
	h1 {
	    color: #fff;
	    font-size: 66px;
	    margin-bottom: 0px;
	    margin-top: 56px;
	}
	h2 {
	    color: #fff;
		font-size: 33px;
		margin-bottom: 0px;
		margin-top: -11px;
	}
}
.proyect-list {
	list-style: none;
	margin-top: 50px;
	display: inline-block;

	li {
	float: left;
	margin: 0px 35px;

		a {
			display: block;
			border-radius: 6px;
			text-decoration: none;

			img {
				max-width: 230px;
				max-height: 197px;
			}
			p {
				text-align: center;
				margin: 7px 0px;
			}
			&:hover {
				 animation: rebote 2s ease-out infinite;
  				transform-origin: 50% 50%;
			}
		}
	}
}

.loading {
	text-align:center;
	font-size: 16px;
	margin-top: 10%;
}

.spacer {
    margin-top: 20px;
}

.footer {
    background: #444444; 
    min-height: 50px;
    .codigo a {
    	margin-top: 50px;
    	margin-bottom: 50px;
    }
 }

 .proyecto {
	height: 100%;
	position: fixed;
	z-index: 999;
	background: rgba(255,255,255,0.9);
	top: 0;
	width: 65%;
	right: 0;
	box-shadow: 3px 0px 21px 7px #000000;
	padding: 12px 20px;
	//display: none;
}

.alerta {
    text-align: center;
    display: block;
    clear: both;
    background: rgba(255, 0, 0, 0.35);
    min-height: 100px;
    top: 0;
    position: relative;

    a {
    	margin: 0 auto;
    	width: 100%;
    	max-width: 300px;
    }

    h3 {
    		padding-top: 10px;
    	margin-top: 0px;
    	margin-bottom: 10px;
    }
}

@keyframes rebote {
  0% {  transform: scale(1) }
  8.33333% {  transform:scale(.9) rotate(-5deg) }
  16.66667% {  transform:scale(.9) rotate(-5deg) }
  25% {  transform:scale(1.1) rotate(5deg) }
  33.33333% {  transform:scale(1.1) rotate(-5deg) }
  41.66667% {  transform:scale(1.1) rotate(5deg) }
  50% {  transform:scale(1.1) rotate(-5deg) }
  58.33333% {  transform:scale(1.1) rotate(5deg) }
  66.66667% {  transform:scale(1) rotate(0) }
  100% {  transform:scale(1) rotate(0) }
}

@keyframes click_aqui {
 0% { transform:translate(0,0) }
  4.41177% { transform:translate(5px,0) }
  8.82353% { transform:translate(0,0) }
  13.23529% { transform:translate(5px,0) }
  17.64706% { transform:translate(0,0) }
  22.05882% { transform:translate(5px,0) }
  26.47059% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}